{% extends 'cart/base.html' %}
{% load static %}

{% block title %}Cart{% endblock %}
{% block body %}
	<table>
		<thead>
			<tr>
				<th>Image</th>
				<th>Name</th>
				<th>Quantity</th>
				<th>Unit price</th>
				<th>Total price</th>
				<th>Remove</th>
			</tr>
		</thead>
		<tbody>
			{% for item in cart %}
				{% with product=item.product%}
					<tr id={{ product.id }}>
						<td><img src="{{product.image.url}}" alt="" width="100px"></td>
						<td><a href="{{product.get_absolute_url}}">{{product.name}}</a></td>
						<td>
							<form data-id="{{product.id}}" method="post">
								{{item.quantity_form.quantity}}
								{{item.quantity_form.update}}
								{% csrf_token %}
								<input name="submit_button" type="submit" value="Update">
							</form>
						</td>
						<td>{{product.price}}</td>
						<td>{{item.total_price}}</td>
						<td><a href="#" class="cart-remove" data-id="{{product.id}}">remove</a></td>
					</tr>
				{% endwith %}
			{% endfor %}
					<tr>
						<td>Total summ</td>
						<td colspan='4'></td>
						<td>{{cart.get_total_price}}</td>
					</tr>
					<tr>
						<td colspan="5"></td>
						<td><a href="{% url 'order:create_order' %}">Check out</a></td>
					</tr>
		</tbody>
	</table>
{% endblock %}

{% block js %}
	<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>>
{% endblock %}